@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", serif;
}



header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 50%;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
}

#menu-icon {
  display: none;
}

#cancel-icon {
  display: none;
}


#nav-ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.nav-link a {
  text-decoration: none;
  font-size: 11px;
  color: black;
}

.nav-link a:visited {
  color: black;
}

.nav-link a:hover {
  color: #00c853;
  border-bottom: 1.5px solid #00c853;
}

#c-button {
  background-color: rgb(4, 50, 3);
  border: none;
  color: white;
  padding: 7px 14px;
  border-radius: 30px;
}

#c-button:hover {
  background-color: #00c853;
}




#section-3{
    width: 100%;
    background-color: green;
}
#three{
    width: 90%;
    display: flex;
    /* height: 90vh;  */
    flex-direction: column; 
    margin: auto;
    padding-top: 60px;
    height: 100vh;

}
.buttom{
    width: 72%;
    margin: auto;
    height: fit-content;

}
.bottom-img{
    object-fit: contain;
    object-position: center;
    width: 100%;
}
.top{
    width: 90% ;
    color: white;
    height: 30vh;
    margin: auto;
    text-align:center;
}
.global{
    font-size: 55px;
    line-height: 2;
}
.para{
font-size: 1rem;

}
#section-two{
    width: 100%;
    margin: auto;
    padding: auto;
}
#our{
    width: 90%;
    

    padding-top: 40px;
    padding-bottom: 40px;
    
    margin: auto;
    gap: 50px;
    flex-flow: row nowrap;
    display: flex;
}
.right{
  
    width: 45%;
    /* padding-top: 30px; */
  

}
.left{
  width: 45%;

  object-fit: fill;
  
 

}
.left img{
  width: 100%;
}
.h1{
    font-size: 42px;
    gap: 4;
    padding-top: 30px;
}
.p{
    font-size: 23px;
}
#section-one{
    width: 100%;
    padding: auto;
    margin: auto;
    margin-top: 1.5%;
    background-image: url(../asset/images/header-background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    /* position: relative; */
    /* background-size: 200vh; */
}
#aboutus{
    width: 100%;
    height: 100vh;
    
    color: white;
    margin-top: 6%;
   /* padding: 10px; */
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    

}
#about-text{
    margin: auto;
    width: 70%;
    padding: 10px;
}
.sech1{
    font-size: 50px;
    text-align: center;
    line-height: 1.5;
}
.secp{
    font-size: 20px;
    text-align: center;
}
#secbutton{
    margin: auto;
    gap: 50px;
    padding-top: 20px;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
    


}
#about-button {
    background-color: white;
    border: 2px solid ;
    color: rgb(4, 50, 3);
    padding: 10px 45px;
    border-radius: 30px;
    
  }
  
  #about-button:hover {
    background-color: #00c853;
  }

  #contact-button {
    background-color: rgb(4, 50, 3);
    border: 2px solid white ;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    
  }
  
  #contact-button:hover {
    background-color: #00c853;
  }

  footer{
    width: 100%; 
    background-color: rgb(4, 50, 3);
    color: white;
  
  } 
  #last-p{
    width: 90%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding-bottom: 45px;
    color: white;
  
  }
  
  
  
  .last-p{
    width: 20%;
    
  }
  
  .last-p1{
  display: flex;
  justify-content: space-between;
  }
  #last-ul{
    list-style-type: none;
    line-height: 2.5;
  } 
  
  .last-text1{
    font-size: 1.3em;
   
    font-weight: bold;
  }
  
  .copywrite{
    text-align: center;
    color: rgb(161, 157, 157);
    font-size: 1.2em;
  }
  .last-textp{
    font-size: 14px;
    line-height: 1.7;
  }
  .footer-link{
    text-decoration: none;
    color: white;
  } 

  
  @media (max-width: 1100px){
    #three{
      width: 90%;
      display: flex;
      /* height: 90vh;  */
      flex-direction: column; 
      margin: auto;
      padding-top: 30px;
      gap: 50px;

      height: 100vh;
  
  }
  .buttom{
      width: 50%;
      margin: auto;
      height: fit-content;
  
  }
  } 

  @media (max-width: 1000px){
    #three{
      width: 90%;
      display: flex;
      /* height: 90vh;  */
      flex-direction: column; 
      margin: auto;
      padding-top: 30px;
      gap: 50px;

      height: 100vh;
  
  }
  .buttom{
      width: 60%;
      margin: auto;
      height: fit-content;
  
  }
  } 

  @media (max-width: 950px){
    #three{
      width: 90%;
      display: flex;
      /* height: 90vh;  */
      flex-direction: column; 
      margin: auto;
      padding-top: 30px;
      gap: 50px;

      height: 100vh;
  
  }
  .buttom{
      width: 60%;
      margin: auto;
      height: fit-content;
  
  }
  } 
  
  @media (max-width: 900px) {
    #menu-icon,
    #cancel-icon {
      display: block;
      cursor: pointer;
    }
  
    #cancel-icon {
      position: absolute;
      right: 15px;
      top: 10px;
      font-weight: lighter;
    }
  
    nav {
      background-color: white;
      width: 85%;
      position: absolute;
      right: 0;
      left: 0;
      top: 70px;
      margin: auto;
      border-radius: 15px;
      padding: 20px;
      display: none;
    }
  
    #nav-ul {
      gap: 30px;
      flex-direction: column;
      text-align: center;
    }

    #three{
      width: 90%;
      display: flex;
      /* height: 90vh;  */
      flex-direction: column; 
      margin: auto;
      padding-top: 30px;
      gap: 50px;

      height: 100vh;
  
  }
  .buttom{
      width: 60%;
      margin: auto;
      height: fit-content;
  
  }
  

    footer{
      width: 100%;
      background-color: rgb(4, 50, 3);
    }
  
    #last-p{
      width: 90%;
      margin: auto;
      padding-top: 40px;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      flex-flow: column nowrap;
      padding-bottom: 45px;
      color: white;
    
    }
    
    
    .last-p{
      width: 90%;
      
    }
    
    .last-p1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    }
    

    #secbutton{
      
      gap: 30px;
      padding-top: 20px;
      display: flex;
      flex-flow: column wrap;
      text-align: left;
      justify-content: left;
      
  
  
  }
  #our{
    width: 90%;
    flex-flow: column;
    display: flex;
}
  
.right{
  
  padding-top: 30px;
  align-items: left;

  }
  .left{
    width: 100%;
    object-fit: contain;
  }

  .right{
    
    width: 100%;
  }
}

  @media (max-width: 800px) {
    #menu-icon,
    #cancel-icon {
      display: block;
      cursor: pointer;
    }
  
    #cancel-icon {
      position: absolute;
      right: 15px;
      top: 10px;
      font-weight: lighter;
    }
  
    nav {
      background-color: white;
      width: 85%;
      position: absolute;
      right: 0;
      left: 0;
      top: 70px;
      margin: auto;
      border-radius: 15px;
      padding: 20px;
      display: none;
    }
  
    #nav-ul {
      gap: 30px;
      flex-direction: column;
      text-align: center;
    }
    footer{
      width: 100%;
      background-color: rgb(4, 50, 3);
    }
  
    #last-p{
      width: 90%;
      margin: auto;
      padding-top: 40px;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      flex-flow: column nowrap;
      padding-bottom: 45px;
      color: white;
    
    }
    
    
    .last-p{
      width: 90%;
      
    }
    
    .last-p1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    }
    

    #secbutton{
      
      gap: 30px;
      padding-top: 20px;
      display: flex;
      flex-flow: column wrap;
      text-align: left;
      justify-content: left;
      
  
  
  }
  #our{
    width: 90%;
    flex-flow: column;
    display: flex;
}
  
.right{
  
  padding-top: 30px;
  align-items: left;

  }
  .left{
    width: 100%;
    object-fit: contain;
  }

  .right{
    
    width: 100%;
  }
}
  